<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortner:Login</title>
</head>
<body>
    <h1>Login</h1>
    <form method="post" action="/login">
        <label for="email">Email:</label>
        <input type="email" placeholder="jhondoe@mail.com" required name="email" id="email">
        <br>
        <label for="password">Password:</label>
        <input required type="password" name="password" placeholder="jhon@2004doe" id="password">
        <br>
        <button type="submit">Login</button>
    </form>
    <% if (locals.error) { %>
        <p style="color: red;"><%= error %></p>
     
    <%  } %>

    <form action="/signup" method="get"><button type="submit">signup</button></form>
</body>
</html>